<div class="widget ct-widget--recentlyReduced">
    <div class="widget-inner">
        <h4 class="text-uppercase">Recently Added</h4>
        <div class="ct-itemProducts--small ct-itemProducts--small-type1">
            <a href="/home/detail?id={{item?.id}}" *ngFor="let item of productList">
                <div class="ct-main-content">
                    <div class="ct-imageBox">
                       <img [src]="item?.images" alt="">
                    </div>
                    <div class="ct-main-text">
                        <div class="ct-product--tilte">
                          {{item?.tittle| slice:0:15}}......
                        </div>
                        <div class="ct-product--price">
                            <span>{{item?.price}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
       
        <a class="btn btn-primary btn-transparent--border ct-u-text--motive" href="/home/category">View More Reduced Properties</a>
    </div>
</div>