<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/content/agency-parallax.jpg&quot;); background-position: 50% 50%;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-steps--submission center-block ct-u-marginBottom20">
                <div class="ct-steps--item ct-steps--past">
                    <div class="ct-steps--counter">
                        <span>1</span>
                    </div>
                </div>
                <div class="ct-steps--item ct-steps--past">
                    <div class="ct-steps--counter">
                        <span>2</span>
                    </div>
                </div>
                <div class="ct-steps--item ct-steps--progress">
                    <div class="ct-steps--counter">
                        <span>3</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter ct-steps--active">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTable ct-steps--title text-center">
                <div class="ct-u-displayTableCell">
                    <span>Title</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Images</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Price &amp; Amentities</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Done!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
            <h2>Step 4 <span class="ct-text--highlightGray">Finalize</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="ct-formSubmission">
                    <div class="form-group ">
                        <h4 class="text-uppercase ct-fw-600 ct-u-marginBottom20">Almost Done</h4>
                        <span class="span ct-u-marginBottom20">We are almost done. If you want to change anything before publishing this will be the best moment to do it. You can also preview how will your property look in our service:</span>
                        <div class="ct-u-marginBottom50">
                            <a class="btn btn-primary" href="/home/preview">Preview My Listing</a> <a class="ct-infoLabel" target="_blank" href="/home/preview">*Opens in a new window</a>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>