<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg" style="min-height: 140px; height: 140px; background-image: url(&quot;assets/images/content/agency-parallax.jpg&quot;); background-position: 50% 50%;">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-steps--submission center-block ct-u-marginBottom20">
                <div class="ct-steps--item">
                    <div class="ct-steps--counter ct-steps--active">
                        <span>1</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>2</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>3</span>
                    </div>
                </div>
                <div class="ct-steps--item">
                    <div class="ct-steps--counter">
                        <span>4</span>
                    </div>
                </div>
            </div>
            <div class="ct-u-displayTable ct-steps--title text-center">
                <div class="ct-u-displayTableCell">
                    <span>Title</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Images</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Price &amp; Amentities</span>
                </div>
                <div class="ct-u-displayTableCell">
                    <span>Done!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
            <h2>Step 1<br>
                <span class="ct-text--highlightGray">Description &amp; Address</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="ct-formSubmission">
                    <div class="form-group ">
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Title</label>
                        <input type="text" required="" class="form-control input-lg ct-input--border ct-u-marginBottom40" placeholder="">
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Address</label>
                        <input type="text" required="" class="form-control input-lg ct-input--border ct-u-marginBottom10" placeholder="">
                        <input type="text" required="" class="form-control input-lg ct-input--border ct-u-marginBottom40" placeholder="">
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Property description</label>
                        <textarea placeholder="" class="form-control input-lg ct-input--border ct-u-marginBottom40" name="field[]" required=""></textarea>
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Mark on map <span>You can drag &amp; drop marker</span></label>
                        <div class="ct-js-googleMap ct-googleMap ct-js-googleMap--single ct-u-marginBottom20" data-offset="1" data-location="Richmond" data-icon="assets/images/marker-house.png" data-markerdraggable="true" data-zoom="14" data-height="500" id="map" style="min-height: 500px;"></div>
                        <h5 class="ct-u-marginBottom10">GPS Data</h5>
                        <div class="ct-latlngAuto">
                            <input type="text" required="" class="form-control input-lg ct-input--border ct-u-marginBottom10 latidude" placeholder="Latidude">
                            <input type="text" required="" class="form-control input-lg ct-input--border ct-u-marginBottom50 longitude" placeholder="Longitude">
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>