
<ng-container *ngIf="firstForm">
    <app-propert-submission1 [events]="eventsSubject.asObservable()"></app-propert-submission1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="ct-container--Big text-right">
                <button class="btn btn-warning"  (click)="stepTwo()">Continue to Step 2</button>
                 </div>
            </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="secondForm">
    <app-propert-submission2  [events]="eventsSubject.asObservable()"></app-propert-submission2>
    <div class="container">
        <div class="ct-container--Big">
            <button class="btn btn-link pull-left" (click)="stepOne()">Back to Step 1</button>
            <button class="btn btn-warning pull-right" (click)="stepThree()">Continue to Step 3</button>
            <div class="clearfix"></div>
        </div>
    </div>
</ng-container>
 
<ng-container *ngIf="thirdForm">
    <app-propert-submission3 [events]="eventsSubject.asObservable()"></app-propert-submission3>
<div class="container">
    <div class="ct-container--Big">
        <button class="btn btn-link pull-left" (click)="stepTwo()">Back to Step 2</button>
        <button class="btn btn-warning pull-right" (click)="stepFour()">Continue to Step 4</button>
        <div class="clearfix"></div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="forthForm">
    <app-propert-submission4></app-propert-submission4>
<div class="container">
    <div class="ct-container--Big">
        <button class="btn btn-link pull-left" (click)="stepThree()">Back to Step 3</button>
        <button type="button" (click)="saveProperty()" class="btn btn-success pull-right">Submit My Property</button>
        <div class="clearfix"></div>
    </div>
</div>
</ng-container>


