
<app-propert-submission1></app-propert-submission1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="ct-container--Big text-right">
                <a class="btn btn-warning" href="submission2.html">Continue to Step 2</a>
                 </div>
            </div>
    </div>
</div>

 
<app-propert-submission2></app-propert-submission2>
<div class="ct-container--Big">
    <a class="btn btn-link pull-left" href="submission.html">Back to Step 1</a>
    <a class="btn btn-warning pull-right" href="submission3.html">Continue to Step 3</a>
    <div class="clearfix"></div>
</div>
<app-propert-submission3></app-propert-submission3>
<div class="ct-container--Big">
    <a class="btn btn-link pull-left" href="submission2.html">Back to Step 2</a>
    <a class="btn btn-warning pull-right" href="submission4.html">Continue to Step 4</a>
    <div class="clearfix"></div>
</div>
<app-propert-submission4></app-propert-submission4>
<div class="ct-container--Big">
    <a class="btn btn-link pull-left" href="submission3.html">Back to Step 3</a>
    <button type="submit" class="btn btn-success pull-right">Submit My Property</button>
    <div class="clearfix"></div>
</div>