<div class="row ct-u-paddingBottom60">
    <div class="col-sm-12">
        <ul class="list-group ct-fw-600">
            <li class="list-group-item"><span class="badge">{{dashboardData?.salePropertyCount}}</span>Total Sale Property </li>
            <li class="list-group-item"><span class="badge">{{dashboardData?.purchasePropertyCount}}</span>Total Purchased Property </li>
            <li class="list-group-item"><span class="badge">{{dashboardData?.totalFinderRequset}}</span>Total Finder Request</li>
            <li class="list-group-item"><span class="badge">PKR {{dashboardData?.totalAmount}}</span>Total Amount Earn</li>
            <li class="list-group-item"><span class="badge">{{dashboardData?.totalReviews}}</span>Total Property Reviews</li>
            <li class="list-group-item"><span class="badge">{{dashboardData?.totalChat}}</span>Total User Communication</li>
        </ul>
    </div>
</div>