
        <div class="ct-formSearch--extended ct-u-marginBottom50" >
            <div class="form-group ">
                <div class="ct-form--label--type1">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="ct-input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ct-u-displayTableCell text-center">
                            <span class="text-uppercase">Search for property</span>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-u-marginBottom20">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property</label>
                            <select [(ngModel)]="property" class="form-control">
                                <option value="">Any</option>
                                <option value="{{item?.tittle}}" *ngFor="let item of allProductList">{{item?.tittle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Location</label>
                            <select [(ngModel)]="location" class="form-control">
                                <option value="">Any</option>
                                <option value="{{item?.location}}" *ngFor="let item of allProductList">{{item?.location}}</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property Status</label>
                            <select [(ngModel)]="status" class="form-control">
                                <option value="0">Any</option>
                                <option value="1">Sale</option>
                                <option value="2">New</option>
                                <option value="3">Loan</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Property type </label>
                            <select [(ngModel)]="type" class="form-control">
                                <option value="0">Any</option>
                                <option value="{{item?.id}}" *ngFor="let item of propertyCategory">{{item?.tittle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ct-u-displayTableVertical ct-slider--row ct-sliderAmount">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Bedrooms</label>
                            <select [(ngModel)]="beds" class="form-control">
                                <option value="0">Any</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Bathrooms</label>
                            <select [(ngModel)]="bath" class="form-control">
                                <option value="0">Any</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3+</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Price ($)</label>
                           Min <input [(ngModel)]="priceMin" type="number"  class="form-control " placeholder="">
                        </div>
                    </div>

                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                           Max <input [(ngModel)]="priceMax" type="number"   class="form-control " placeholder="">
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell">
                        <button type="button" (click)="searchResult()" class="btn btn-warning text-capitalize pull-right">search now</button>
                    </div>
                </div>
            </div>
        </div>

